{% set IGM = env["name"] %}

resources:

- name: {{ IGM }}
  type: compute.v1.instanceGroupManager
  properties:
    baseInstanceName: {{ env["name"] }}-instance
    instanceTemplate: $(ref.{{ properties["instance-template"] }}.selfLink)
    targetSize: {{ properties["targetSize"] }}
    zone: {{ properties["zone"] }}

- name: {{ IGM }}-as
  type: compute.v1.autoscaler
  properties:
    zone: {{ properties["zone"] }}
    target: $(ref.{{ IGM }}.selfLink)
    autoscalingPolicy:
      maxNumReplicas: {{ properties["maxReplicas"] }}
      cpuUtilization:
        utilizationTarget: 0.8
      coolDownPeriodSec: 90
