{% set IGM_NAME = env['name'] + '-igm' %}

resources:
- name: {{ IGM_NAME }}
  type: compute.v1.instanceGroupManager
  properties:
    baseInstanceName: {{ env["name"] }}-instance
    instanceTemplate: $(ref.{{ properties["instance-template"] }}.selfLink)
    targetSize: {{ properties['minSize'] }}
    zone: {{ properties["zone"] }}

- name: {{ IGM_NAME }}-as
  type: compute.v1.autoscaler
  properties:
    zone: {{ properties["zone"] }}
    target: $(ref.{{ IGM_NAME }}.selfLink)
    autoscalingPolicy:
      minNumReplicas: {{ properties['minSize'] }}
      maxNumReplicas: {{ properties['maxSize'] }}
      cpuUtilization:
        utilizationTarget: 0.8
      coolDownPeriodSec: 90
