{% set LB_NAME = env['deployment'] + '-' +  env['name'] + '-internal-lb' %}

resources:
- name: {{ LB_NAME }}
  type: instance.jinja
  properties:
    metadata:
      algorithm: {{ properties['algorithm'] }}
      app-port: {{ properties['app-port'] }}
      port: {{ properties['port'] }}
      groups: {{ properties['groups']|join(' ') }}
    zone: {{ properties['zone'] }}

outputs:
- name: address
  value: $(ref.{{ LB_NAME }}.address)
