resources:

## NETWORK
- name: {{ env["deployment"] }}-network
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false
    region: us-east1

# - name: public-subnet
#   type: compute.v1.subnetwork
#   properties:
#     ipCidrRange: 10.155.192.0/19
#     name: public-subnet
#     network: $(ref.test-network.selfLink)
#     region: us-east1

- name: public-subnet
  type: subnetwork_template.jinja
  properties:
    cidr: 10.155.192.0/19
    subnet_name: public-subnet
    region: us-east1

- name: app-web-subnet
  type: subnetwork_template.jinja
  properties:
    cidr: 10.155.0.0/18
    subnet_name: app-web-subnet
    region: us-east1

- name: db-subnet
  type: subnetwork_template.jinja
  properties:
    cidr: 10.155.128.0/19
    subnet_name: db-subnet
    region: us-east1

# - name: green-web-z1
#   type: vm_web_green_template.jinja
#   properties:
#     region: us-east1
#     zone: us-east1-d
#     group: green-web
#     machineType: f1-micro
#     network: $(ref.app-web-subnet.selfLink)

# - name: green-web-z2
#   type: vm_web_green_template.jinja
#   properties:
#     region: us-east1
#     zone: us-east1-b
#     group: green-web
#     machineType: f1-micro
#     network: $(ref.app-web-subnet.selfLink)

# - name: green-app-z1
#   type: vm_app_green_template.jinja
#   properties:
#     region: us-east1
#     zone: us-east1-d
#     group: green-app
#     machineType: f1-micro
#     network: $(ref.app-web-subnet.selfLink)

# - name: green-app-z2
#   type: vm_app_green_template.jinja
#   properties:
#     region: us-east1
#     zone: us-east1-b
#     group: green-app
#     machineType: f1-micro
#     network: $(ref.app-web-subnet.selfLink)

# - name: blue-web-z1
#   type: vm_web_blue_template.jinja
#   properties:
#     region: us-east1
#     zone: us-east1-d
#     group: blue-web
#     machineType: f1-micro
#     network: $(ref.app-web-subnet.selfLink)

# - name: blue-web-z2
#   type: vm_web_blue_template.jinja
#   properties:
#     region: us-east1
#     zone: us-east1-b
#     group: blue-web
#     machineType: f1-micro
#     network: $(ref.app-web-subnet.selfLink)

# - name: blue-app-z1
#   type: vm_app_blue_template.jinja
#   properties:
#     region: us-east1
#     zone: us-east1-d
#     group: blue-app
#     machineType: f1-micro
#     network: $(ref.app-web-subnet.selfLink)

# - name: blue-app-z2
#   type: vm_app_blue_template.jinja
#   properties:
#     region: us-east1
#     zone: us-east1-b
#     group: blue-app
#     machineType: f1-micro
#     network: $(ref.app-web-subnet.selfLink)

# - name: public-subnet-firewall
#   type: public_fw.jinja
#   properties:
#     network: $(ref.public-subnet.selfLink)

# - name: app-web-subnet-firewall
#   type: app-web_fw.jinja
#   properties:
#     network: $(ref.app-web-subnet.selfLink)

# - name: db-firewall
#   type: db_fw.jinja
#   properties:
#     network: $(ref.db-subnet.selfLink)