#
# Copyright 2017 Trace3 Inc. All rights reserved.
# Licensed under the Apache License, Version 2.0.
#

resources:
- name: {{ env["name"] }}
  type: compute.v1.subnetwork
  properties:
    ipCidrRange: {{ properties["cidr"] }}
    name: {{ properties["subnet_name"] }}
    network: $(ref.{{ env["deployment"] }}-network.selfLink)
    region: {{ properties["region"] }}
